*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    height: auto;
    width: 100%;
}
.main .navbar{
    width: 100%;
    padding: 15px 0px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
}
.main .navbar nav{
    width: 90%;
    margin: auto;
    height: 50px;
    border-radius: 25px;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .navbar nav .nav{
    width: 98%;
    height: 40px;
    display: flex;
    justify-content: space-between; 
}
.main .navbar nav .nav .nav_logo{
    display: flex;
    width: 19%;
    height: 100%;
}
.main .navbar nav .nav .nav_logo .logo_font{
    width: 40px;
    height: 100%;
    background: goldenrod;
    border-radius: 50%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .navbar nav .nav .nav_logo .logo_font a{
    text-decoration: none;
    color: teal;
}
.main .navbar nav .nav .nav_logo .logo_name{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    color: white;
    font-size: 25px;
}
.main .navbar nav .nav .nav_hidden_menu{
    width: 30%;
    display: none;
    /* border: 1px solid red; */
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.main .navbar nav .nav .nav_hidden_menu .lines{
    width: 100%;
    height: 40px;
    position: relative;
}
.main .navbar nav .nav .nav_hidden_menu .lines .line1{
    position: absolute;
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 1.5px;
    top: 10px;
    left: calc(50% - 15px);
    /* transform: rotate(45deg); */
}
.main .navbar nav .nav .nav_hidden_menu .lines .line2{
    position: absolute;
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 1.5px;
    top: 10px;
    left: calc(50% - 15px);
    /* transform: rotate(-45deg); */
}
.main .navbar nav .nav .nav_hidden_menu .lines .line3{
    position: absolute;
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 1.5px;
    top: 18.5px;
    left: calc(50% - 15px);
}
.main .navbar nav .nav .nav_hidden_menu .lines .line4{
    position: absolute;
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 1.5px;
    top: 27px;
    left: calc(50% - 15px);
}
.main .navbar nav .nav .nav_hidden_menu ul{
    display: none;
    position: absolute;
    width: 100%;
    list-style: none;
    top: calc(100% + 10px);
}
.main .navbar nav .nav .nav_menu{
    width: 60%;
}
.main .navbar nav .nav .nav_menu ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .navbar nav .nav .nav_menu ul li{
    position: relative;
}
.main .navbar nav .nav .nav_menu ul li a{
    text-decoration: none;
    color: white;
}
.main .navbar nav .nav .nav_menu ul li::before{
    content: "";
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    width: 0%;
    height: 2px;
    background: white;
    transition: .6s;
}
.main .navbar nav .nav .nav_menu ul li:hover::before{
    width: 100%;
    left: 0%;
}
.main .navbar nav .nav .nav_contact{
    width: 15%;
    background: white;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main .banner{
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.main .banner header{
    width: 100%;
    height: auto;
}
.main .banner header .home_banner{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.main .banner header .home_banner .banner_sec1{
    width: 48%;
    height: 400px;
}
.main .banner header .home_banner .banner_sec1 .banner_hello{
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid blue;
}
.main .banner header .home_banner .banner_sec1 .banner_head{
    font-size: 35px;
    font-weight: 700;
    margin-top: 20px;
}
.main .banner header .home_banner .banner_sec1 .banner_head a{
    color: goldenrod;
    font-style: italic;
    font-weight: 400;
}
.main .banner header .home_banner .banner_sec1 .banner_sub{
    margin-top: 20px;
}
.main .banner header .home_banner .banner_sec1 .banner_buttons{
    display: flex;
    margin-top: 30px;
}
.main .banner header .home_banner .banner_sec1 .banner_buttons .banner_btn1{
    width: 180px;
    height: 36px;
    background-color: goldenrod;
    border-radius: 18px;
    border: 1px solid goldenrod;
    display: flex;
    align-items: center;
}
.main .banner header .home_banner .banner_sec1 .banner_buttons .banner_btn1 .btn{
    background-color: teal;
    width: calc(100% - 40px);
    height: 36px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
}
.main .banner header .home_banner .banner_sec1 .banner_buttons .banner_btn1 .circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.main .banner header .home_banner .banner_sec1 .banner_buttons .banner_btn2{
    width: 80px;
    height: 36px;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
}
.main .banner header .home_banner .banner_sec2{
    width: 48%;
    height: 400px;
}
.main .banner header .home_banner .banner_sec2 .image_section{
    width: 100%;
    height: 100%;
    position: relative;
}
.main .banner header .home_banner .banner_sec2 .image_section img{
    height: 100%;
    width: 300px;
    position: absolute;
    left: calc(50% - 150px);
    border-radius: 0% 0% 20% 0%;
}
.main .banner header .home_banner .banner_sec2 .image_section::before{
    content: "";
    height: 360px;
    width: 360px;
    position: absolute;
    top: calc(50% - 190px);
    left: calc(50% - 180px);
    background: goldenrod;
    border-radius: 50%;
}
.main .banner header .home_banner .banner_sec2 .image_section .btn1{
    position: absolute;
    width: 150px;
    left: 0;
    top: calc(100% - 70px);
}
.main .banner header .home_banner .banner_sec2 .image_section .btn1 .icon{
    transform: rotateY(180deg);
    width: 20px;
    height: 20px;
}
.main .banner header .home_banner .banner_sec2 .image_section .btn1 .icon i{
    color: teal;
}
.main .banner header .home_banner .banner_sec2 .image_section .btn1 .name{
    width: 120px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: teal;
    margin-left: 15px;
}
.main .banner header .home_banner .banner_sec2 .image_section .btn2{
    position: absolute;
    width: 150px;
    left: calc(50% + 50px);
    top: calc(100% - 100px);
}
.main .banner header .home_banner .banner_sec2 .image_section .btn2 .icon{
    transform: rotateY(180deg);
    width: 20px;
    height: 20px;
}
.main .banner header .home_banner .banner_sec2 .image_section .btn2 .icon i{
    color: goldenrod;
}
.main .banner header .home_banner .banner_sec2 .image_section .btn2 .name{
    width: 120px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: goldenrod;
    margin-left: 15px;
}
.main .banner header .home_banner .banner_sec2 .image_section .circle{
    position: absolute;
    height: 100px;
    width: 100px;
    justify-items: center;
    align-content: center;
    border-radius: 50%;
    background: teal;
    border: 5px solid white;
    left: calc(50% + 100px);
    top: calc(50% - 150px);
}
.main .banner header .home_banner .banner_sec2 .image_section .circle .inner_circle{
    height: 35px;
    width: 35px;
    justify-items: center;
    align-content: center;
    border-radius: 50%;
    background: goldenrod;
    border: 5px solid white;

}
.main .marquee{
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
.main .marquee .run{
    width: 100%;
    height: 100%;
    position: relative;
}
.main .marquee .run .run_front{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: goldenrod;
}
.main .marquee .run .run_front marquee{
    width: 100%;
    height: 100%;
    font-size: 25px;
    display: flex;
}
.main .marquee .run .run_front marquee .work{
    width: 100%;
    height: 100%;
    font-size: 25px;
    display: flex;
    list-style: none;
    align-items: center;
}
.main .marquee .run .run_front marquee .work li{
    padding-left: 30px;
}
.main .marquee .run .run_back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-2deg);
    background-color: teal;
    z-index: 15;
}
.main .service{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.main .service .services{
    width: 100%;
    height: auto;
}
.main .service .services .head{
    display: flex;
    align-items: center;
    height: 40px;
}
.main .service .services .head .gap{
    height: 4px;
    width: 20px;
    background-color: goldenrod;
}
.main .service .services .head .heading{
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}
.main .service .services .title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .service .services .title .subheading{
    font-size: 35px;
    font-weight: 500;
}
.main .service .services .title .subheading a{
    text-decoration: none;
    color: goldenrod;
    font-style: italic;
}
.main .service .services .title .buttons{
    width: 180px;
    height: 36px;
    background-color: goldenrod;
    border-radius: 18px;
    border: 1px solid goldenrod;
    display: flex;
    align-items: center;
}
.main .service .services .title .buttons .btn{
    background-color: teal;
    width: calc(100% - 40px);
    height: 36px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
}
.main .service .services .title .buttons .circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.main .service .services .cards{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-left: 5px;
}
.main .service .services .cards .card{
    width: 32%;
    margin-top: 20px;
    background-color: rgb(202, 202, 231);
    border-radius: 10px;
    padding: 20px 0px;
}
.main .service .services .cards .card .logo{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
    margin-left: 5%;
}
.main .service .services .cards .card .title{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
}
.main .service .services .cards .card .subtitle{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    color: gray;
}
.main .service .services .cards .card .btn{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    color: teal;
}
.main .service .services .cards .card .btn i{
    font-size: 10px;
    color: goldenrod;
}
.main .about{
    width: 100%;
    height: auto;
    margin-top: 30px;
    background-color: teal;
}
.main .about .about_me{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}
.main .about .about_me .about_image{
    width: 48%;
    margin: auto;
}
.main .about .about_me .about_detail{
    width: 48%;
    margin: auto;
    padding: 30px 0px;
}
.main .about .about_me .about_detail .head{
    display: flex;
    align-items: center;
    height: 40px;
}
.main .about .about_me .about_detail .head .gap{
    height: 4px;
    width: 20px;
    background-color: goldenrod;
}
.main .about .about_me .about_detail .head .heading{
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
}
.main .about .about_me .about_detail .title{
    margin-top: 15px;
    font-size: 35px;
}
.main .about .about_me .about_detail .title a{
    font-style: italic;
    text-decoration: none;
    color: goldenrod;
}
.main .about .about_me .about_detail .subtitle{
    margin-top: 15px;
}
.main .about .about_me .about_detail .cards{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-left: 5px;
}
.main .about .about_me .about_detail .cards .card{
    width: 32%;
    border-radius: 10px;
    padding: 20px 0px;
}
.main .about .about_me .about_detail .cards .card .title{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    font-weight: 600;
    font-size: 25px;
    color: goldenrod;
}
.main .about .about_me .about_detail .cards .card .subtitle{
    width: 90%;
    margin: auto;
    margin-top: 10px;
}
.main .about .about_me .about_detail .btns{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.main .about .about_me .about_detail .btns .buttons{
    width: 180px;
    height: 36px;
    background-color: goldenrod;
    border-radius: 18px;
    border: 1px solid goldenrod;
    display: flex;
    align-items: center;
}
.main .about .about_me .about_detail .btns .buttons .btn{
    background-color: teal;
    width: calc(100% - 40px);
    height: 36px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
}
.main .about .about_me .about_detail .btns .buttons .circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    color: teal;
}
.main .projects{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.main .projects .my_projects{
    width: 100%;
    height: auto;
}
.main .projects .my_projects .head{
    display: flex;
    align-items: center;
    height: 40px;
}
.main .projects .my_projects .head .gap{
    height: 4px;
    width: 20px;
    background-color: goldenrod;
}
.main .projects .my_projects .head .heading{
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}
.main .projects .my_projects .title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .projects .my_projects .title .subheading{
    font-size: 35px;
    font-weight: 500;
}
.main .projects .my_projects .title .subheading a{
    text-decoration: none;
    color: goldenrod;
    font-style: italic;
}
.main .projects .my_projects .title .buttons{
    width: 180px;
    height: 36px;
    background-color: goldenrod;
    border-radius: 18px;
    border: 1px solid goldenrod;
    display: flex;
    align-items: center;
}
.main .projects .my_projects .title .buttons .btn{
    background-color: teal;
    width: calc(100% - 40px);
    height: 36px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
}
.main .projects .my_projects .title .buttons .circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.main .projects .my_projects .cards{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-left: 5px;
}
.main .projects .my_projects .cards .card{
    width: 48%;
    margin-top: 20px;
    background-color: rgb(202, 202, 231);
    border-radius: 10px;
    padding: 20px 0px;
}
.main .projects .my_projects .cards .card .logo{
    height: 400px;
    width: 90%;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    margin: auto;
}
.main .projects .my_projects .cards .card .logo img{
    height: 100%;
    width: 100%;
    transition: 1s;
}
.main .projects .my_projects .cards .card .logo img:hover{
    transform: scale(1.2);
}
.main .projects .my_projects .cards .card .title{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    /* justify-content: flex-start; */
}
.main .projects .my_projects .cards .card .title .bttn{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: goldenrod;
    border-radius: 12.5px;
    color: teal;
}
.main .projects .my_projects .cards .card .subtitle{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .projects .my_projects .cards .card .subtitle .text{
    width: 75%;
    font-weight: 500;
    font-size: 20px;
}
.main .projects .my_projects .cards .card .subtitle .more{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
    color: white;
}
.main .qualification{
    width: 100%;
    margin-top: 30px;
}
.main .qualification .quality{
    width: 90%;
    margin: auto;
}
.main .qualification .quality .head{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.main .qualification .quality .head .gap{
    height: 4px;
    width: 20px;
    background-color: goldenrod;
}
.main .qualification .quality .head .heading{
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}
.main .qualification .quality .title{
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
}
.main .qualification .quality .title a{
    text-decoration: none;
    color: goldenrod;
    font-style: italic;
}
.main .qualification .quality .cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main .qualification .quality .cards .card{
    width: 48%;
    background-color: rgb(222, 235, 238);
    border-radius: 10px;
    padding: 15px 0px;
    margin-top: 20px;
}
.main .qualification .quality .cards .card .head{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.main .qualification .quality .cards .card .head .logo{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: goldenrod;
}
.main .qualification .quality .cards .card .head .name{
    font-size: 22px;
    font-weight: 500;
    margin-left: 10px;
}
.main .qualification .quality .cards .card .detail{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    border-left: 2px solid grey;
}
.main .qualification .quality .cards .card .detail .year{
    color: gray;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 10px;
}
.main .qualification .quality .cards .card .detail .instititude{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
.main .qualification .quality .cards .card .detail .subject{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(73, 72, 72);
}
.main .tools{
    width: 100%;
    margin-top: 25px;
    padding: 10px 0px;
    background: teal;
}
.main .tools .my_tools{
    width: 90%;
    margin: auto;
    color: white;
}
.main .tools .my_tools .head{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.main .tools .my_tools .head .gap{
    height: 4px;
    width: 20px;
    background-color: goldenrod;
}
.main .tools .my_tools .head .heading{
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}
.main .tools .my_tools .title{
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
}
.main .tools .my_tools .title a{
    text-decoration: none;
    color: goldenrod;
    font-style: italic;
}
.main .tools .my_tools .favourite_tools{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main .tools .my_tools .favourite_tools .tools_sec{
    width: 100%;
    margin-top: 20px;
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main .tools .my_tools .favourite_tools .tools_sec .tool{
    margin-top: 10px;
    width: 48%;
}
.main .tools .my_tools .favourite_tools .tools_sec .tool .name{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main .tools .my_tools .favourite_tools .tools_sec .tool .know{
    width: 100%;
    margin: auto;
    margin-top: 2px;
    height: 4px;
    border-radius: 3px;
    border: 1px solid white;
    display: flex;
}
.main .tools .my_tools .favourite_tools .tools_sec .tool .know .percen{
    width: 90%;
    height: 4px;
    background: white;
}
